:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: col;
  min-height: 100vh;
  font-family: var(--font-roboto);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0%;
  padding: 0.5rem;
}

main > div {
  @include flexColStart;
  padding: 1rem 0;
  gap: 0.5rem;
}

header {
  @include flexBetween;
  padding: 0.75rem 1rem;
  width: 100%;
}

header > div {
  @include flexStart;
  gap: 1rem;
}

input {
  outline: none;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus,
input:active {
  outline: none;
  border: none;
  box-shadow: none;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

button {
  background-color: transparent;
}

// Small Screen
@media screen and (min-width: 640px) {
  main {
    padding: 1rem;
  }
}
