.page-container {
  width: 100%;
  gap: 1rem;
  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 20px;// calc(var(--navbar-height) + 40px);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100vh;
}

.radio-menu {
  display: block;
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 9999px;
  padding: .5rem;
}

.bottom-menu {
  position: fixed;
  bottom: .25rem;
  left: .25rem;
  right: .25rem;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: .5rem;
}

.btn {
  border: none;
  outline: none;
  padding: .25rem 1.25rem;
  width: fit-content;
  border-radius: .5rem;
}

.btn-yellow {
  background-color: $clr-yellow-400;
  color: white;
}

.btn-red {
  background-color: var(--clr-red-500);
  color: white;
}

.btn-blue {
  background-color: var(--clr-blue-400);
  color: var(--clr-blue-50);
}

.icon-cont .icon-item {
  visibility: hidden;
}

.icon-cont:hover .icon-item{
  visibility: visible;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.task-menu {
  position: absolute;
  top: 2rem;
  right: -.25rem;
  width: fit-content;
  border-radius: .375rem;
  z-index: 10;
  transition: all 200ms;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task-menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: .5rem;
  padding: .5rem;
  background-color: #f8f8f8;
  transition: all 200ms ease-in;
}

.task-menu-item:hover {
  background-color: #e4e4e4;
  color: $clr-yellow-400;
}

.task-menu-item span {
  display: none;
}

.mobile-menu .menu-item{
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 1rem 0;
  width: 100%;
  height: 100%;
  gap: 1rem;
  background-color: $clr-slate-800;
  border-bottom: 1px solid $clr-slate-200;
  opacity: 0;
  animation-name: menuLink;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

.mobile-menu .menu-item:nth-child(1){
  animation-delay: 100ms;
}
.mobile-menu .menu-item:nth-child(2){
  animation-delay: 200ms;
}
.mobile-menu .menu-item:nth-child(3){
  animation-delay: 300ms;
}
.mobile-menu .menu-item:nth-child(4){
  animation-delay: 400ms;
}
.mobile-menu .menu-item:nth-child(5){
  animation-delay: 500ms;
}
.mobile-menu .menu-item:nth-child(6){
  animation-delay: 600ms;
  border-bottom: none;
}

.mobile-menu .menu-item > span {
  width: 140px;
  font-size: 2rem;
}

.menu-item span {
  text-align: left;
}

@keyframes menuLink {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to { 
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
  .bottom-menu {
    display: none;
  }
  .page-container {
    // padding-top: 20px;
    // padding-left: calc(var(--navbar-height) + 30px);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .radio-menu {
    display: none;
  }
}