.icon-sm {
  width: 1rem;
  font-size: 1rem;
  display: inline;
}

.icon-md {
  width: 1.5rem;
  font-size: 1.5rem;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}