:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 80px;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0;
  gap: 0.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  width: 100%;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

input {
  outline: none;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus,
input:active {
  outline: none;
  border: none;
  box-shadow: none;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

button {
  background-color: transparent;
}

.radio-menu {
  display: block;
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 9999px;
  padding: 0.5rem;
}

.side-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 20;
}

.side-menu > li {
  background-color: rgba(197, 197, 197, 0.6039215686);
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translateX(-1rem);
  transition: all 0.2s ease-in 0;
}

.side-menu > li:last-child {
  border-radius: 0 0 0.375rem 0;
}

.side-menu > li:first-child {
  border-radius: 0 0.375rem 0 0;
}

.side-menu > li:hover {
  transform: translateX(0rem);
  border-radius: 0 0.375rem 0.375rem 0;
}

.btn {
  border: none;
  outline: none;
  padding: 0.25rem 1.25rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.btn-yellow {
  background-color: #fbbf24;
  color: white;
}

.btn-red {
  background-color: var(--clr-red-500);
  color: white;
}

.btn-blue {
  background-color: var(--clr-blue-400);
  color: var(--clr-blue-50);
}

.icon-cont .icon-item {
  visibility: hidden;
}

.icon-cont:hover .icon-item {
  visibility: visible;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.task-menu {
  position: absolute;
  top: 2rem;
  right: -0.25rem;
  width: fit-content;
  border-radius: 0.375rem;
  z-index: 10;
  transition: all 200ms;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task-menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #f8f8f8;
  transition: all 200ms ease-in;
}

.task-menu-item:hover {
  background-color: #e4e4e4;
  color: #fbbf24;
}

.task-menu-item span {
  display: none;
}

@media screen and (min-width: 768px) {
  .radio-menu {
    display: none;
  }
}
.mobile-menu {
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.mobile-menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  background-color: #1e293b;
  opacity: 0;
  animation-name: menuLink;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.mobile-menu .menu-item:nth-child(1) {
  animation-delay: 0ms;
}

.mobile-menu .menu-item:nth-child(2) {
  animation-delay: 50ms;
}

.mobile-menu .menu-item:nth-child(3) {
  animation-delay: 100ms;
}

.mobile-menu .menu-item:nth-child(4) {
  animation-delay: 150ms;
}

.mobile-menu .menu-item:nth-child(5) {
  animation-delay: 200ms;
}

.mobile-menu .menu-item:nth-child(6) {
  animation-delay: 250ms;
}

.mobile-menu .menu-item:nth-child(7) {
  animation-delay: 300ms;
}

.mobile-menu .menu-item > span {
  width: 140px;
  font-size: 2rem;
}

.menu-item span {
  text-align: left;
}

@keyframes menuLink {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

.listname {
  cursor: pointer !important;
}

tr {
  cursor: pointer;
  transition: all 300ms ease;
}

tr:nth-child(2n+1) {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(2n):hover {
  background-color: rgb(180, 180, 180);
}

tr:nth-child(2n+1):hover {
  background-color: rgb(180, 180, 180);
}

th {
  font-weight: 300;
  padding: 0.25rem 0.5rem;
}

td {
  text-align: center;
  align-items: center;
  padding: 0.25rem 1rem;
}

.icon-sm {
  width: 1rem;
  font-size: 1rem;
  display: inline;
}

.icon-md {
  width: 1.5rem;
  font-size: 1.5rem;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}

.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #f7fee7;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger .is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/** Spin **/
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}